*{
    margin:0;
    padding:0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: aliceblue;
    line-height: 5rem;
}
.choice{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
   
}

.choices{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:3 rem;
    margin-top: 5rem;
}

.choice:hover{
    opacity: 0.4;
    cursor: pointer;
    background-color: black;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    gap: 2rem;

}

#user-score, #comp-score{
    font-size: 3rem;
}

#msg{
    background-color: #081b31;
    color: white;
   
    font-size: 2rem;
    margin-bottom: 2rem;
    
    display: inline;
    
    border-radius: 1rem;
}
